


<h1>{{ item.item_title }}</h1>
<p>
  {{item.item_text}}
</p>
<ul>
{% for question in item.question_set.all %}
      {% if question.answered %}
        <li>
          <h3>
            {{ question.question_text }}
          </h3>
          <p>
            {{ question.question_answer}}
          </p>
        </li>

      {% endif %}
{% endfor %}
</ul>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'items:ask' item.id %}" method="post">
  {% csrf_token %}
  <label for="question_text">Ask a question: </label>
  <input id="question_text" type="text" name="question_text">


<input type="submit" value="Submit" />
</form>
